{% extends 'base.html.twig' %}

{% set title = invoice.name %}

{% block content %}
	{% embed 'partials/card.html.twig' with {title:invoice.name, actions:actions|default([
        {name:'Paid', path:path('invoice_paid', {id:invoice.id}), disabled:invoice.paidDate},
        {name:'PDF', url:path('invoice_pdf', {id:invoice.id})},
        {name:'Edit', path:path('invoice_edit', {id:invoice.id})},
    ])} %}
		{% block body %}
			<table class="table table-sm table-hover">
				<tbody>
					<tr>
						<th>Name</th>
						<td>{{ invoice.name }}</td>
					</tr>
					<tr>
						<th>Client</th>
						<td>
							<a href="{{ path('client_view', {id:invoice.client.id}) }}">{{ invoice.client.name }}</a>
						</td>
					</tr>
					<tr>
						<th>Projects</th>
						<td>
							{% for project in invoice.projects %}
								<a href="{{ path('project_view', {id:project.id}) }}">{{ project.name }}</a>
							{% endfor %}
						</td>
					</tr>
					<tr>
						<th>Number</th>
						<td>{{ invoice.number }}</td>
					</tr>
					<tr>
						<th>Amount</th>
						<td>{{ invoice.amount|format_currency(invoice.currency) }}</td>
					</tr>
					<tr>
						<th>Sent Date</th>
						<td>{{ invoice.sentDate|date('Y-m-d') }}</td>
					</tr>
					<tr>
						<th>Paid Date</th>
						<td>{{ invoice.paidDate ? invoice.paidDate|date('Y-m-d') : '' }}</td>
					</tr>
				</tbody>
			</table>
		{% endblock %}
	{% endembed %}

	{% include 'time/list-table.html.twig' with {times:invoice.times, actions:[]} %}
{% endblock %}
