{% extends 'base.html.twig' %}

{% set title = task.name %}

{% block content %}
	{% embed 'partials/card.html.twig' with {title:task.name, actions:actions|default([
        {name:'Edit', path:path('task_edit', {id:task.id})},
    ])} %}
		{% block body %}
			<table class="table table-sm table-hover">
				<tbody>
					<tr>
						<th>Name</th>
						<td>{{ task.name }}</td>
					</tr>
					<tr>
						<th>Project</th>
						<td>
                            <a href="{{ path('project_view', {id:task.project.id}) }}">{{ task.project.name }}</a>
                        </td>
					</tr>
                    <tr>
                        <th>Billing</th>
                        <td>{{ task.billing }}</td>
                    </tr>
                    <tr>
                        <th>Currency</th>
                        <td>{{ task.currency }}</td>
                    </tr>
                    <tr>
                        <th>Price</th>
                        <td>{{ task.price }}</td>
                    </tr>
                    <tr>
                        <th>Times</th>
                        <td>{{ task.times|length}}</td>
                    </tr>
                    <tr>
                        <th>Invoices</th>
                        <td>{{ task.invoices|length}}</td>
                    </tr>
				</tbody>
			</table>
		{% endblock %}
	{% endembed %}

    {% include 'invoice/list-table.html.twig' with {invoices:task.invoices, actions:[
        {name:'Add', path:path('invoice_add', {task:task.id})},
    ]} %}

    {% include 'time/list-table.html.twig' with {times:task.times, actions:[
        {name:'Add', path:path('time_add', {task:task.id})},
    ]} %}
{% endblock %}
