{% extends 'base.html.twig' %}

{% set title = client.name %}

{% block content %}
	{% embed 'partials/card.html.twig' %}
		{% block actions %}
            {% include 'partials/link.html.twig' with {name:'Edit', path:path('client_edit', {id:client.id})} %}
		{% endblock %}
		{% block body %}
			<table class="table table-sm table-hover">
				<tbody>
					<tr>
						<th>Name</th>
						<td>{{ client.name }}</td>
					</tr>
					<tr>
						<th>Email</th>
						<td>
                            <a href="mailto:{{ client.email }}">{{ client.email }}</a>
                        </td>
					</tr>
					<tr>
						<th>Address</th>
						<td>{{ client.address }}</td>
					</tr>
					<tr>
						<th>Invoices</th>
						<td>{{ client.invoices|length }}</td>
					</tr>
					<tr>
						<th>Projects</th>
						<td>{{ client.projects|length }}</td>
					</tr>
				</tbody>
			</table>
		{% endblock %}
	{% endembed %}

    {% embed 'partials/card.html.twig' with {title:client.projects|length ~ ' Projects'} %}
        {% block actions %}
            {% include 'partials/link.html.twig' with {name:'Add', path:path('project_add', {client:client.id})} %}
        {% endblock %}
        {% block body %}
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in client.projects %}
                        <tr data-link="{{ path('project_view', {id:project.id}) }}">
                            <td>{{ project.name }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endblock %}
    {% endembed %}

    {% embed 'partials/card.html.twig' with {title:client.invoices|length ~ ' Invoices'} %}
        {% block actions %}
            {% include 'partials/link.html.twig' with {name:'Add', path:path('invoice_add', {client:client.id})} %}
        {% endblock %}
        {% block body %}
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Projects</th>
                        <th>Number</th>
                        <th>Type</th>
                        <th>Currency</th>
                        <th>Amount</th>
                        <th>Sent Date</th>
                        <th>Paid Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for invoice in client.invoices %}
                        <tr data-link="{{ path('invoice_view', {id:invoice.id}) }}">
                            <td>{{ invoice.name }}</td>
                            <td>
                                {% for project in invoice.projects %}
                                    <a href="{{ path('project_view', {id:project.id}) }}">{{ project.name }}</a>
                                {% endfor %}
                            </td>
                            <td>{{ invoice.number }}</td>
                            <td>{{ invoice.type }}</td>
                            <td>{{ invoice.currency }}</td>
                            <td>{{ invoice.amount }}</td>
                            <td>{{ invoice.sentDate|date('Y-m-d') }}</td>
                            <td>{{ invoice.paidDate ? invoice.paidDate|date('Y-m-d') : '' }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endblock %}
    {% endembed %}
{% endblock %}
