{% extends 'base.html.twig' %}

{% set title = 'Login' %}

{% block body %}
    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
    <div class="container-fluid">
        <div class="row">
            <div class="col col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
                <div class="card mt-5 mb-4">
                    <h3 class="card-header">Login</h3>
                    <div class="card-body">

                        <form class="m-0" action="{{ path('auth_login') }}" method="post">
                            <div class="row">
                                <div class="col-5">
                                    <label for="username">Username</label>
                                </div>
                                <div class="col-7">
                                    <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" required="required" autocomplete="off"/>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-5">
                                    <label for="password">Password</label>
                                </div>
                                <div class="col-7">
                                    <input type="password" id="password" name="_password" class="form-control" required="required" autocomplete="off"/>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-8">
                                    {% if error %}
                                        <div class="text-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                    {% endif %}
                                </div>
                                <div class="col-4 text-end">
                                    <input type="submit" id="_submit" name="_submit" value="Login"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}