{% extends 'base.html.twig' %}

{% block content %}
    {% if timer %}
        {% embed 'partials/card.html.twig' with {title:'Active timer'} %}
            {% block body %}
                <div class="font-weight-bold">
                    <div>
                        <a href="{{ path('project_view', {id: timer.project.id}) }}">
                            {{ timer.fullName }}
                        </a>
                    </div>
                    <div class="mt-2">
                        {% include 'partials/timer.html.twig' with {task:timer} %}
                    </div>
                </div>
            {% endblock %}
        {% endembed %}
    {% endif %}

	{% embed 'partials/card.html.twig' with {title:awaitingInvoices|length ~ ' Invoices'} %}
		{% block body %}
			<table class="table table-sm table-hover">
				<thead>
					<tr>
						<th></th>
						<th>Client</th>
						<th>Projects</th>
						<th class="text-end">Amount</th>
						<th>Sent Date</th>
					</tr>
				</thead>
				<tbody>
					{% for invoice in awaitingInvoices %}
						<tr {{ stimulus_controller('link', {path:path('invoice_view', {id:invoice.id})}) }}>
							<td>
								<span class="bg-primary d-inline-block p-1 rounded"></span>
							</td>
							<td>
								<a href="{{ path('client_view', {id:invoice.client.id}) }}">{{ invoice.client.name }}</a>
							</td>
							<td>
								{% for project in invoice.projects %}
									<a href="{{ path('project_view', {id:project.id}) }}">{{ project.name }}</a>
								{% endfor %}
							</td>
							<td class="text-end">{{ invoice.amount|format_currency(invoice.currency) }}</td>
							<td>{{ invoice.sentDate|date('Y-m-d') }}</td>
						</tr>
					{% endfor %}
				</tbody>
				<tbody>
					{% for invoice in billableInvoices %}
						<tr {{ stimulus_controller('link', {path:path('invoice_add', {id:invoice.client.id})}) }}>
							<td>
								<span class="bg-warning d-inline-block p-1 rounded"></span>
							</td>
							<td>
								<a href="{{ path('client_view', {id:invoice.client.id}) }}">{{ invoice.client.name }}</a>
							</td>
							<td>
								{% for project in invoice.projects %}
									<a href="{{ path('project_view', {id:project.id}) }}">{{ project.name }}</a>
								{% endfor %}
							</td>
							<td class="text-end">{{ invoice.amount|format_currency(invoice.currency) }}</td>
							<td></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endblock %}
	{% endembed %}
{% endblock %}
