{% embed 'partials/card.html.twig' with {title:projects|length ~ ' Projects', actions:actions is defined ? actions : [
    {name:'Add', path:path('project_add')},
]} %}
    {% block body %}
        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    {% if client is not defined %}
                        <th>Client</th>
                    {% endif %}
                    <th>Invoices</th>
                    <th>Tasks</th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                    <tr data-link="{{ path('project_view', {id:project.id}) }}">
                        <td>{{ project.name }}</td>
                        {% if client is not defined %}
                            <td>
                                <a href="{{ path('client_view', {id:project.client.id}) }}">{{ project.client.name }}</a>
                            </td>
                        {% endif %}
                        <td>{{ project.invoices|length }}</td>
                        <td>{{ project.tasks|length }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endblock %}
{% endembed %}
