{% extends 'base.html.twig' %}

{% set title = project.name %}

{% block content %}
	{% embed 'partials/card.html.twig' %}
		{% block actions %}
            {% include 'partials/link.html.twig' with {name:'Edit', path:path('project_edit', {id:project.id})} %}
		{% endblock %}
		{% block body %}
			<table class="table table-sm table-hover">
				<tbody>
					<tr>
						<th>Name</th>
						<td>{{ project.name }}</td>
					</tr>
					<tr>
						<th>Client</th>
						<td>
                            <a href="{{ path('client_view', {id:project.client.id}) }}">{{ project.client.name }}</a>
                        </td>
					</tr>
					<tr>
						<th>Tasks</th>
						<td>{{ project.tasks|length }}</td>
					</tr>
					<tr>
						<th>Invoices</th>
						<td>{{ project.invoices|length }}</td>
					</tr>
				</tbody>
			</table>
		{% endblock %}
	{% endembed %}

    {% embed 'partials/card.html.twig' with {title:project.invoices|length ~ ' Invoices'} %}
        {% block actions %}
            {% include 'partials/link.html.twig' with {name:'Add', path:path('invoice_add', {project:project.id})} %}
        {% endblock %}
        {% block body %}
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number</th>
                        <th>Type</th>
                        <th>Currency</th>
                        <th>Amount</th>
                        <th>Sent Date</th>
                        <th>Paid Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for invoice in project.invoices %}
                        <tr data-link="{{ path('invoice_view', {id:invoice.id}) }}">
                            <td>{{ invoice.name }}</td>
                            <td>{{ invoice.number }}</td>
                            <td>{{ invoice.type }}</td>
                            <td>{{ invoice.currency }}</td>
                            <td>{{ invoice.amount }}</td>
                            <td>{{ invoice.sentDate|date('Y-m-d') }}</td>
                            <td>{{ invoice.paidDate ? invoice.paidDate|date('Y-m-d') : '' }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endblock %}
    {% endembed %}

    {% embed 'partials/card.html.twig' with {title:project.tasks|length ~ ' Tasks'} %}
        {% block actions %}
            {% include 'partials/link.html.twig' with {name:'Add', path:path('task_add', {project:project.id})} %}
        {% endblock %}
        {% block body %}
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Billing</th>
                        <th>Currency</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in project.tasks %}
                        <tr data-link="{{ path('task_view', {id:task.id}) }}">
                            <td>{{ task.name }}</td>
                            <td>{{ task.billing }}</td>
                            <td>{{ task.currency }}</td>
                            <td>{{ task.price }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endblock %}
    {% endembed %}
{% endblock %}
